.quote{
  display: flex;
  align-items: center;
  justify-Content: center;
}
.quote p{
  font-weight: bold;
}
.quote h2{
  font-family:'Times New Roman', Times, serif;
}
.content{
    background: #fff;
    /* background: wheat; */
    padding: 2em;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border:2px solid black;
}
.btn{
  background: black;
  color: #fff;
  padding: 0.8em 1.5em;
  border-Radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  font-Size: 1.2em;
  margin-top: 2em;
} 
